
    <div class="text-center" style="padding:90px 0">
    <%= form_for @user, :html =>{ :multipart => true } do |f| %>

    <h1>EDIT PROFILE</h1> 

    <div class="editprofile-background" id="editprofile"></div>
    <div class="container">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="well">
          <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2 class="error-warning">
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this owner from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li class="error-message"><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <%= f.text_field :artist_name, class: "form-control"%>

          <%= f.text_field :current_city, class: "form-control"%>

          <%= f.file_field :avatar%>

          <%= f.submit "SAVE!", class: "login-button" %>
        </div>
      </div>
    </div>
    <% end %> 
  </div>






