<section id="form">
  <div class="profile-background">

   <div class="container">
        <div class="row">

          <div class="col-md-6 features-leftcol">
      <!--   <img class="img-circle" width="140" alt=""><%= image_tag @user.avatar.url(:thumb), class: "image-circle" %></img> -->

        <h2>  Welcome, <%= @user.artist_name %> </h2>
        <p>  USERNAME: <%= @user.username %> <br>
          CURRENT CITY: <%= @user.current_city %> <br>
          JOINED: <%= local_time_ago(@user.created_at) %> <br>
          CONTRIBUTED TO: <% @count.count.each do |count| %>
                <%=City.find(count[0]).name %> ,
          <%end%>
        </p> 
        <% if @user.id == @current_user.id%>
        <div class= "button">
        <%=link_to 'EDIT PROFILE', edit_user_path(@user), class: "button" %>
        <%end%>
        </div>
      </div>
      </div>
 
  </div>
 

     <div class="col-md-6 features-rightcol">
      
             <div class= "centerbutton">
          <main-button><%= link_to "ADD POST", "/cities", 'data-no-turbolink' => true, class: "main-button" %> </main-button>
          </div>
            <h3><% if @posts.count==0 %>
            No Posts
            <% else %> 
            <%=@posts.count%> Posts</h3>
          
                <div class="row grid-divider">
                <%@postsR.each do |post| %> 

                    <div class="col-sm-4">
                        
                            <div class="col-padding white-box">
                               
                                <a><%= link_to city_post_path(post.city_id, post) do %>
                                <%=post.title%>
                                <% end %>
                                </a>
                          
                                <a>
                                <%= link_to city_path(post.city_id) do %>
                                <h5><%=post.city.name%></h5>
                                <% end %>
                                </a>
                            <h5><%= truncate post.content, length: 90%><br>
                            <%= link_to "READ MORE", city_post_path(post.city_id, post) %>

                            </h5>
                            
                                    <main-button><% if @user.id == @current_user.id%>
                                    <%= link_to 'EDIT', edit_city_post_path(post.city, post), class: "extra-button" %> </main-button>
                                    <% end %>
                            </div>
                        </div>
                    <% end %>
                    </div>
                <% end %>
                <div class="col-md-12 col-xs-12" align="center">
                <% @count.count.each do |count| %>
                  <main-button>
                      <%if count[1] ==1 %>
                      <a class: "main-button" style="color: yellow"><%=City.find(count[0]).name %> : <%=count[1]%> post </a>
                      <%elsif count[1] > 1  %>
                        <a class: "main-button" style="color: yellow"><%=City.find(count[0]).name %> : <%=count[1]%> posts </a>
                    <%end%>
                    
                  </main-button>
                <%end%>
                </div>
                </div>
          </div>
      </div>
    </section>
</section>

    <br>
            
             </div>
             </div>
             </section> 

