

      <!--   <ul class="nav navbar-nav">
          <li class=" dropdown"><%= link_to 'PROFILE', user_path(@current_user) %>
          </li>
        </ul> -->
<!-- 
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <% if @current_user %>
            <li class=""><%= link_to "LOGOUT", logout_path, method: :delete%></li>
          </ul>
          <%end%>
        </div> -->




 <div class="text-center" style="padding:100px 0">
  <div class="col-md-12 col-xs-12" align="center">
    <div class="center-block">
      <div class="color-box">
        <%= form_for [@city,@post] do |f| %>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <br>

        <h2> EDIT </h2>

        <%= f.text_field :title, class: "form-control",placeholder: "Title" %>
        <%= f.text_field :location, class: "form-control",placeholder: "Location", :id => 'geocomplete' %> 
        <%= f.text_field :content, class: "form-control", placeholder: "Your content Here!" %> 
        <br>
         <%= f.text_field :tag_list, placeholder: "Tags", class: "form-control" %>
        <%= f.submit "EDIT", class: "main-button"  %>
          <% end %>


        
          
          
         

      </div>
    </div>
  </div>
</div>
</nav>

</div>
</div>

<script type="text/javascript">
  geo();
</script>
