
  <div class="text-center" style="padding:100px 0">
    <div class="col-md-12 col-xs-12" align="center">
      <div class="center-block">
        <div class="color-box">
          <br>

          <h2> USERNAME: <%= @user.username %> </h2>
          <h3>  <%=@post.title%> </h3> 
          <h3><%=@post.content%> </h3>
          <h3>TAGS:   <%=raw tag_links@post.tag_list%> </h3>
          <br>

          <div>
            <%@post.comments.each do |comment| %>
            <h2>USERNAME:<%= comment.user.username%></h2>
            <h3><%= comment.content%></h3>
            <%end%>
          </div>
          <br>
          <br>

          <%=link_to 'COMMENT', new_city_post_comment_path(@city, @post), class: "main-button" %>
          <main-button><% if @user.id == @current_user.id%>
          <%=link_to 'EDIT', edit_city_post_path(@city, @post), class: "main-button" %>
          <%=link_to'DELETE', delete_city_post_path(@city, @post), method: :delete, data:{confirm: "#{@user.username} are you sure you to delete this post?" },class: "main-button" %>
          <br>
          <br>
          <br>
          <br>
          <%end%>
        </main-button>

      </div>


  </div>
</div>
</nav>
</div>
</div>




