


      <div class="text-center" style="padding:50px 0">
        <div class="map" id="map<%=@city.slug%>"></div>


        <section class="block-parallax-1  block-parallax-2">
          <section style="min-height:400px;">
                <div class="cities-bg" repeat>
           <div class="container-bottom">
             <br>
             <br>
             <br>
             <main-button><%= link_to "ADD POST", new_city_post_path(@city), class: "main-button" %> </main-button>
          
        
           <div class="container">
            <h3><% if @posts.count==0 %>
              No Posts
              <% else %> 
              <%=@posts.count%> Posts</h3>
              
              <div class="row grid-divider">
                <%@postsR.each do |post| %> 

                <div class="col-sm-4">
  
                  <div class="col-padding white-box">
                   
                   <a><%= link_to user_path(post.user_id, post) do %>
                    <h5><%=post.user.username%> </h5>
                    <% end %>
                  </a>

                  <a><%= link_to city_post_path(post.city_id, post) do %>
                    <h5><%=post.title%></h5>
                    <% end %> 
                  </a>
                  
                  <a>
                   <h5 id="location"><%=post.location%></h5>
              
                 </a>
                 
                 <h5><%= truncate post.content, length: 90    %>

                  <br>
                  <br>
                  <%= link_to "READ MORE", city_post_path(post.city_id, post) %>
                </h5>
                <br>
                <br>
                
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </section>
</section>
<script type="text/javascript">
  init();
</script>

